.soon {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 100;
  width: 25%;
}

.circleText {
  width: 50%;
  min-width: 300px;
  animation: orbit 15s infinite linear;
  display: block;
  margin: 0 auto;
}

.circleText text {
  font-size: 14px;
  font-family: Times New Roman;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: 0.3px;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 750px) {
  .soon {
    width: 100%;
    
  }
}